/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce;
  --button-color: #ff0070;
  --button-color-hover: #FF007066;
  --rec-icon-color: #ff0070;
  --accent-color: #ff0070;
  --accent-color-w-background: #000028;
  --header-text-color: #db00ff;
  --sub-header-color: #ff0070;
  --rec-icon-visibility: shown;
}